# Veteran Suicide Prevention - Data Prep and Preprocessing Scratchpad

In [1]:
import pandas as pd
import numpy as np
import sklearn.preprocessing
import sklearn.model_selection
import sklearn.impute
from sklearn.model_selection import train_test_split

import suicide_acquire

In [2]:
age_adjusted_df = suicide_acquire.age_adjusted()

age_adjusted_df.head()

Age-Adjusted Veteran Suicide Rate DF
Consists of 13 rows and 10 columns

,year_of_death,veteran_suicide_deaths,veteran_population_estimate,veteran_age_adjusted_rate_per_100K,male_veteran_suicide_deaths,male_veteran_population_estimate,male_veteran_age_adjusted_rate_per_100K,female_veteran_suicide_deaths,female_veteran_population_estimate,female_veteran_age_adjusted_rate_per_100K
4,2005,5787,24240000,25.5,5610,22501000,27.3,177,1739000,10.4
5,2006,5688,23731000,24.8,5527,21992000,26.8,161,1739000,9.2
6,2007,5893,23291000,26.5,5724,21588000,28.7,169,1703000,9.7
7,2008,6216,22996000,28.4,6024,21322000,30.8,192,1674000,11.3
8,2009,6172,22603000,28.3,5968,20917000,30.4,204,1686000,12.2

In [3]:
age_adjusted_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 4 to 16
Data columns (total 10 columns):
year_of_death                                13 non-null int64
veteran_suicide_deaths                       13 non-null int64
veteran_population_estimate                  13 non-null int64
veteran_age_adjusted_rate_per_100K           13 non-null float64
male_veteran_suicide_deaths                  13 non-null int64
male_veteran_population_estimate             13 non-null int64
male_veteran_age_adjusted_rate_per_100K      13 non-null float64
female_veteran_suicide_deaths                13 non-null int64
female_veteran_population_estimate           13 non-null int64
female_veteran_age_adjusted_rate_per_100K    13 non-null float64
dtypes: float64(3), int64(7)
memory usage: 1.1 KB

In [6]:
y = df.pop('output')
X = df

X_train,X_test,y_train,y_test = train_test_split(X.index,y,test_size=0.2)
X.iloc[X_train] # return dataframe train

NameError: name 'age_adjusted_df_train' is not defined

In [4]:
age_group_df = suicide_acquire.age_group_df()

age_group_df.head()

This is the AgeGroup DataFrame
Consists of 52 rows and 11 columns

,year_of_death,age_group,total_suicides,est_total_vet_pop,veteran_crude_rate_per_100K,male_veteran_suicides,est_male_vet_pop,male_veteran_crude_rate_per_100K,female_veteran_suicides,est_female_vet_pop,age_group_num
4,2005,18-34,544,2147000,25.3,504,1779000,28.3,40,368000,1
5,2005,35-54,2059,7116000,28.9,1948,6336000,30.7,111,780000,2
6,2005,55-74,1866,9976000,18.7,1847,9626000,19.2,26,591000,3
7,2005,75+,1315,5001000,26.3,1308,4760000,27.5,1,1,4
9,2006,18-34,482,2113000,22.8,450,1740000,25.9,32,373000,1

NameError: name 'X' is not defined

In [ ]:
recent_vha_user_df = suicide_acquire.recent_vha_user()

recent_vha_user_df.head()

In [ ]:
vha_by_age_group_df = suicide_acquire.vha_by_age_group()

vha_by_age_group_df.head()

In [ ]:
non_vha_user_df = suicide_acquire.non_vha_user()

non_vha_user_df.head()

In [ ]:
non_vha_by_age_df = suicide_acquire.non_vha_by_age()

non_vha_by_age_df.head()

In [ ]:
def split_dataframes():
    """Simple loop function to split all the dataframes into train, validate, and test sets"""
    dataframes = age_adjusted_df, age_group_df, recent_vha_user_df, vha_by_age_group, non_vha_user, non_vha_by_age_df

    for dataframe in dataframes:
        data_train, data_test = sklearn.model_selection.train_test_split(dataframes, train_size=.80, random_state=123)
        data_train, data_validate = sklearn.model_selection.train_test_split(data_train, train_size=.80, random_state=123)
    
    return dataframes

In [ ]:
age_adjusted_train.shape

### Preprocessing functions that follow:

- Based on the similar division of the datasets into train, validate, and test portions, the 'behind the scenes' work of the preprocessing the datasets for exploration takes place in the accompanying '