# Veteran Suicide Prevention - Data Prep and Preprocessing Scratchpad

In [1]:
import pandas as pd
import numpy as np
import sklearn.preprocessing
import sklearn.model_selection
import sklearn.impute
from sklearn.model_selection import train_test_split

import suicide_acquire

In [2]:
age_adjusted_df = suicide_acquire.age_adjusted()

age_adjusted_df.head()

Age-Adjusted Veteran Suicide Rate DF
Consists of 13 rows and 10 columns

,year_of_death,veteran_suicide_deaths,veteran_population_estimate,veteran_age_adjusted_rate_per_100K,male_veteran_suicide_deaths,male_veteran_population_estimate,male_veteran_age_adjusted_rate_per_100K,female_veteran_suicide_deaths,female_veteran_population_estimate,female_veteran_age_adjusted_rate_per_100K
4,2005,5787,24240000,25.5,5610,22501000,27.3,177,1739000,10.4
5,2006,5688,23731000,24.8,5527,21992000,26.8,161,1739000,9.2
6,2007,5893,23291000,26.5,5724,21588000,28.7,169,1703000,9.7
7,2008,6216,22996000,28.4,6024,21322000,30.8,192,1674000,11.3
8,2009,6172,22603000,28.3,5968,20917000,30.4,204,1686000,12.2

In [3]:
age_adjusted_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 4 to 16
Data columns (total 10 columns):
year_of_death                                13 non-null int64
veteran_suicide_deaths                       13 non-null int64
veteran_population_estimate                  13 non-null int64
veteran_age_adjusted_rate_per_100K           13 non-null float64
male_veteran_suicide_deaths                  13 non-null int64
male_veteran_population_estimate             13 non-null int64
male_veteran_age_adjusted_rate_per_100K      13 non-null float64
female_veteran_suicide_deaths                13 non-null int64
female_veteran_population_estimate           13 non-null int64
female_veteran_age_adjusted_rate_per_100K    13 non-null float64
dtypes: float64(3), int64(7)
memory usage: 1.1 KB

In [4]:
age_group_df = suicide_acquire.age_group_df()

age_group_df.head()

This is the AgeGroup DataFrame
Consists of 52 rows and 11 columns

,year_of_death,age_group,total_suicides,est_total_vet_pop,veteran_crude_rate_per_100K,male_veteran_suicides,est_male_vet_pop,male_veteran_crude_rate_per_100K,female_veteran_suicides,est_female_vet_pop,age_group_num
4,2005,18-34,544,2147000,25.3,504,1779000,28.3,40,368000,1
5,2005,35-54,2059,7116000,28.9,1948,6336000,30.7,111,780000,2
6,2005,55-74,1866,9976000,18.7,1847,9626000,19.2,26,591000,3
7,2005,75+,1315,5001000,26.3,1308,4760000,27.5,1,1,4
9,2006,18-34,482,2113000,22.8,450,1740000,25.9,32,373000,1

In [5]:
recent_vha_user_df = suicide_acquire.recent_vha_user()

recent_vha_user_df.head()

DataFrame of Suicides Among Recent VHA Users
Consists of 13 rows and 10 columns

,year_of_death,vha_veteran_suicides,vha_veteran_pop_est,vha_veteran_age_adjusted_per_100K,male_vha_veteran_suicides,male_vha_veteran_pop_est,male_vha_veteran_age_adjusted_per_100K,female_vha_veteran_suicides,female_vha_veteran_pop_est,female_vha_veteran_age_adjusted_per_100K
4,2005,1638,5230872,29.6,1582,4860127,32.2,56,370742,13.8
5,2006,1733,5323518,30.0,1700,4935484,33.8,33,388032,7.9
6,2007,1703,5379603,29.7,1659,4974026,32.9,44,405577,10.4
7,2008,1870,5454501,32.8,1819,5030169,36.8,51,424332,11.2
8,2009,1822,5627383,30.6,1768,5181672,33.4,54,445711,12.4

In [6]:
vha_by_age_group_df = suicide_acquire.vha_by_age_group()

vha_by_age_group_df.head()

DataFrame of Suicides Among Recent VHA Visits by Age Group
Consists of 52 rows and 5 columns

,year_of_death,vha_veteran_suicides,vha_veteran_pop_est,vha_veteran_crude_per_100K,vha_age_group_num
4,2005,68,324938,20.9,1
5,2005,446,1243916,35.9,2
6,2005,701,2396917,29.2,3
7,2005,423,1263344,33.5,4
9,2006,73,350939,20.8,1

In [7]:
non_vha_user_df = suicide_acquire.non_vha_user()

non_vha_user_df.head()

DataFrame of Suicides Among Non-Recent VHA Users
Consists of 13 rows and 10 columns

,year_of_death,non_vha_veteran_suicides,est_non_vha_pop,non_vha_age_adjusted_per_100K,male_non_vha_veteran_suicides,male_non_vha_veteran_pop_est,male_non_vha_age_adjusted_per_100K,female_non_vha_suicides,female_non_vha_veteran_pop_est,female_non_vha_age_adjusted_per_100K
4,2005,4149,18939349,24.3,4028,17573850,26.1,121,1365502,9.6
5,2006,3955,18337358,23.4,3827,16989164,25,128,1348196,9.7
6,2007,4190,17841206,25.5,4065,16546625,27.6,125,1294581,9.6
7,2008,4346,17471384,27.1,4205,16224710,29.2,141,1246674,11.4
8,2009,4350,16905365,27.6,4200,15668146,29.5,150,1237219,12.2

In [8]:
non_vha_by_age_df = suicide_acquire.non_vha_by_age()

non_vha_by_age_df.head()

DataFrame of Suicides Among Those Who Had NOT Recently Visited the VHA
Consists of 52 rows and 5 columns

,year_of_death,non_vha_veteran_suicides,non_vha_veteran_pop_est,non_vha_veteran_crude_per_100K,age_group_num
4,2005,476,1818019,26.2,1
5,2005,1613,5856380,27.5,2
6,2005,1165,7544801,15.4,3
7,2005,892,3721923,24.0,4
9,2006,409,1757799,23.3,1

### Preprocessing functions that follow:

- Based on the similar division of the datasets into train, validate, and test portions, the 'behind the scenes' work of the preprocessing the datasets for exploration takes place in the accompanying '